.title {
  color: #fff;
  font-size: 18px;
  padding: 0
}

.menuDiv {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("~@/assets/mainContent/otherSide.jpg") no-repeat;
  background-size: cover;
}

:global(.el-menu--collapse){
  width: 80px!important;

}

:global(.el-menu){
  background-color: rgb(255, 255, 255, 0.1);
}
:global(.el-submenu__title:hover) {
  background-color: rgb(255, 255, 255, 0.1);
}

:global(.el-submenu__title:focus) {
  background-color: rgb(255, 255, 255, 0.1);
}

:global(.el-menu-item:hover) {
  background-color: rgb(255, 255, 255, 0.1);
}

:global(.el-menu-item:focus) {
  background-color: rgb(255, 255, 255, 0.1);
}

